@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
	background-color:#56b045 
}
div.git{
        position:relative;
        left: 200px;
        bottom: 0px;
	margin:auto;
	padding:auto
}

div{
	margin:auto;
	padding:auto
}
dd{
	font-size:0.875em;
	font-family:'Roboto',sans-serif;
	color:#8a0303;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
dt{
	font-size:1em;
	font-family:'Open Sans',sans-serif;
	color:#C50000;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
button{
	width:25%;
	height:40px;
	margin:5px;
	border:solid white 2px;
	border-radius:5px;
	background-color:transparent;
	color:white;
	font-size:30px;
	overflow:hidden;
	font-family:joystixmonospace
}
li{
	font-size:small;
	color:white;
	font-family:joystixmonospace;
	font-style:italic
}
h1{
	color:white;
	font-family:joystixmonospace;
	font-style:italic
}
#git{    
        font-size:10px;
        color:#00802b;
        left: 27px;
        position:relative;
	margin:auto;
	padding:auto;
        font-family:joystixmonospace;
}
#nora{     
        font-size:9px;
        color:#00802b;
        left: 70px;
        position:relative;
	margin:auto;
	padding:auto;
        font-family:joystixmonospace;
}
button:selection{
	color:green;
	background-color:transparent
}
button:hover{
	color:green;
	border:solid green 2px
}
@media (max-width: 1650px){
	button{
		font-size:30px
}
}
@media (max-width: 1200px){
	button{
		font-size:25px
}
}
@media (max-width: 1000px){
	button{
		font-size:15px
}
}
@media (max-width: 600px){
	button{
		font-size:10px
}
}
@media (max-width: 400px){
	button{
		font-size:7px
}
}
.wrap{
	width:320px;
	height:192px;
	padding:0;
	overflow:hidden
}
.frame{
	width:1280px;
	height:786px;
	border:0;
	-ms-transform:scale(0.25);
	-moz-transform:scale(0.25);
	-o-transform:scale(0.25);
	-webkit-transform:scale(0.25);
	transform:scale(0.25);
	-ms-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	transform-origin:0 0
}
